# c files
*/*.o
*.so
*.a
.vscode
.idea
.devcontainer
*.pdf
test
*.out
CMakeLists.txt
CMakeFiles
*.cmake
CMake*
.fleet
*.txt
one
two
three
test_src/test*.c
run.sh
test0
test1
test2
test3
test4
test5
test6